body {
  background-color: #020202;
  color: #fff;
  font-family: 'Sora', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #C58DE7;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.9rem;
}

input[type="number"] {
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background: #111012;
  color: #fff;
  font-size: 1rem;
}

.repeat {
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

button {
  padding: 0.75rem;
  border: none;
  margin-top: 5px;
  background: #C58DE7;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #D586E0;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  min-height: 50px;
}

.number {
  background: #C58DE7;
  color: #000;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  animation: pop 0.4s ease;
}

.hidden {
  display: none;
}

.history {
  margin-top: 2rem;
  text-align: left;
  color: #C7C9CC;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  background: #111012;
  padding: 1rem;
  border-radius: 8px;
}

.history h3 {
  margin-bottom: 0.5rem;
  color: #C58DE7;
}


@keyframes pop {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
